<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/main.css">
    <link rel="stylesheet" href="../../static/styles/partials/footer.css" />

    
    <title>Document</title>
  </head>
  <body>
    <footer class="section footer-section" role="contentinfo">
        
        <div class="container footer-container">
          <div class="footer-top">
           
        <div class="footer-left-column">
                 <p><%= t.footer.title %></p>
                <ul role="list" aria-label="Social links">
                    
                    <li><a aria-label="Visit Taskify on Facebook" href="#"><img src="../../static/assets/facebook.png" class="footer-image" alt="Facebook"></a></li>
                    <li><a aria-label="Visit Taskify on YouTube" href="#"><img src="../../static/assets/youtube.png" class="footer-image" alt="Youtube"></a></li>
                    <li><a aria-label="Visit Taskify on Twitter" href="#"><img src="../../static/assets/twitter.png" class="footer-image" alt="Twitter"></a></li>
                    <li><a aria-label="Visit Taskify on Instagram" href="#"><img src="../../static/assets/instagram.png" class="footer-image" alt="Instagram"></a></li>
                </ul>
         </div>
            
         <div class="footer-right-column" role="navigation" aria-label="Footer navigation">
            <div class="footer-column">
                <h3 class="footer-heading"><%= t.footer.features %></h3>
                    <ul role="list">
                        
                        <li><a href="" aria-label="Learn how Taskify works"><%= t.footer.how_it_works %></a></li>
                        <li><a href="" aria-label="Taskify for Teams"><%= t.footer.for_teams %></a></li>
                        <li><a href="" aria-label="Taskify pricing"><%= t.footer.pricing %></a></li>
                        <li><a href="" aria-label="Taskify templates"><%= t.footer.templates %></a></li>

                    </ul>
            </div>
         <div class="footer-column">
            <h3 class="footer-heading"><%= t.footer.resources %></h3>
             <ul role="list">
                
                <li><a href="" aria-label="Download Taskify apps"><%= t.footer.download_apps %></a></li>
                <li><a href="" aria-label="Taskify help center"><%= t.footer.help_center %></a></li>
                <li><a href="" aria-label="Productivity methods"><%= t.footer.productivity_methods %></a></li>
                <li><a href="" aria-label="Refer a friend to Taskify"><%= t.footer.refer_a_friend %></a></li>
                <li><a href="" aria-label="Taskify integrations"><%= t.footer.integrations %></a></li>
                <li><a href="" aria-label="Channel partners"><%= t.footer.channel_partners %></a></li>
                <li><a href="" aria-label="Developer API documentation"><%= t.footer.developer_api %></a></li>
                <li><a href="" aria-label="Taskify status"><%= t.footer.status %></a></li>

             </ul>
         </div>
         <div class="footer-column">
            <h3 class="footer-heading"><%= t.footer.company %></h3>
            <ul role="list">
                
                <li><a href="" aria-label="About Taskify"><%= t.footer.about_us %></a></li>
                <li><a href="" aria-label="Careers at Taskify"><%= t.footer.we_are_hiring %></a></li>
                <li><a href="" aria-label="Taskify blog"><%= t.footer.blog %></a></li>
                <li><a href="" aria-label="Press resources"><%= t.footer.press %></a></li>
                <li><a href="" aria-label="Twist communication tool"><%= t.footer.twist %></a></li>
                

             </ul>
         </div>
         </div>
        </div>
         <div class="footer-copyright">
          <ul role="list">
            <li style="border-right: 2px solid black"><a href="/privacy-policy" aria-label="Taskify privacy policy"><%= t.footer.privacy %></a></li>
            <li><a href="" aria-label="Taskify terms of service"><%= t.footer.terms %></a></li>
          </ul>  
         <p class="footer-taskify-inc"><%= t.footer.copyright %></p>

        
    </div>
         </div>
            
        
    </footer>
    
  </body>
</html>