<section class="section feature-section">
    <div class="container feature-container">
        <div class="feature-main-heading">
            <h2 class="feature-secondary-heading"><%= t.feature.heading %></h2>
            <p><%= t.feature.desc %></p>
        </div>
        <div class="feature-even-column">
            <div class="feature-even-column-left">
                <div class="feature-features">
                    <img class="feature-img" src="../../static/assets/feature1.webp" alt="feature1">
                    <h3 class="feature-heading"><%= t.feature.f1_title %></h3>
                    <p class="feature-text"><%= t.feature.f1_desc %></p>
                    <a href="#" class="feature-btn feature-btn"><%= t.feature.f1_btn %></a>
                </div>
                <div class="feature-features">
                    <img class="feature-img" src="../../static/assets/feature2.webp" alt="feature2">
                    <h3 class="feature-heading"><%= t.feature.f2_title %></h3>
                    <p class="feature-text"><%= t.feature.f2_desc %></p>
                    <a href="#" class="feature-btn feature-btn"><%= t.feature.f2_btn %></a>
                </div>
                <div class="feature-features">
                    <img class="feature-img" src="../../static/assets/feature3.webp" alt="feature3">
                    <h3 class="feature-heading"><%= t.feature.f3_title %></h3>
                    <p class="feature-text"><%= t.feature.f3_desc %></p>
                    <a href="#" class="feature-btn feature-btn"><%= t.feature.f3_btn %></a>
                </div>
            </div>
            <div class="feature-even-column-right">
                <div class="feature-features">
                    <img class="feature-img" src="../../static/assets/feature4.webp" alt="feature4">
                    <h3 class="feature-heading"><%= t.feature.f4_title %></h3>
                    <p class="feature-text"><%= t.feature.f4_desc %></p>
                    <a href="#" class="feature-btn feature-btn"><%= t.feature.f4_btn %></a>
                </div>
                <div class="feature-features">
                    <img class="feature-img" src="../../static/assets/feature5.webp" alt="feature5">
                    <h3 class="feature-heading"><%= t.feature.f5_title %></h3>
                    <p class="feature-text"><%= t.feature.f5_desc %></p>
                    <a href="#" class="feature-btn feature-btn"><%= t.feature.f5_btn %></a>
                </div>
            </div>
        </div>
    </div>
</section>
