<header>
  <div class="container navbar-container">
    <a href="/" class="logo-wrapper">
      <img src="../../static/assets/logo.png" alt="logo" class="logo" />
      <span class="nav-title" style="font-size: 1.5em; font-weight: bold;">Taskify</span>
    </a>

    <nav>
      <ul class="nav-items">
        <li><a href="#"><%= t.nav.features %></a></li>
        <li><a href="#"><%= t.nav.templates %></a></li>
        <li><a href="#"><%= t.nav.for_teams %></a></li>
        <li><a href="#"><%= t.nav.resources %></a></li>
        <li><a href="#"><%= t.nav.pricing %></a></li>
      </ul>
    </nav>
    <div class="nav-buttons" style="display: flex; align-items: center; gap: 15px;">
      <div class="lang-switch">
        <a href="?lang=en" style="font-weight: bold; color: #333;"><%= t.lang.english %></a> | 
        <a href="?lang=zh" style="font-weight: bold; color: #333;"><%= t.lang.chinese %></a>
      </div>
      
      <a href="/signup" class="btn1 nav-btn"><%= t.nav.sign_up %></a>
      <a href="/dashboard" class="btn2 nav-btn"><%= t.nav.log_in %></a>
    </div>
  </div>
</header>
